*{
    padding:0;
    margin: 0;
}
body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
}
.topHeader{
    background-image:url(gray.jpg);
    margin-top: 0;
    padding: 59px;
    text-align: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.spacing{
    padding-top: 100px;
    padding-left: 175px;
}
.spaceParagraph{
    padding-top: 15px;
    padding-left: 175px;
    font-size:x-large;
}
.spaceParagraph2{
    padding-top: 15px;
    padding-left: 175px;
    padding-right: 400px;
    font-size:x-large;
}
.spacing2{
    padding-bottom: 0px;
    padding-left: 175px;
}
.spacing3{
    padding-top: 275px;
    padding-left: 175px;
}

h1,h2,p{
    color:white;
    padding-left: 175px;
}
   #subBullet{
    list-style-type: circle;
    margin-left: 1.5em;
   }
#object{
    height: 250px;
    width: 250px;
    float: right;
    margin: 50px;
    
}
#object2{
    padding-left: 125px;
    height: 250px;
    width: 250px;
    margin: 50px;
    float: left;
}
#object2{
    padding-left: 125px;
    height: 250px;
    width: 250px;
    margin: 50px;
    float: left;
}
#object3{
    padding-left: 125px;
    margin-top: 100px;
    height: 250px;
    width: 250px;
    float: left;
    overflow-y: hidden;
}
#object4{
    padding-left: 250px;
    height: 250px;
    width: auto;
    padding-top: 100px;
    overflow-y: hidden;
}
#object5{
    height: 250px;
    width: auto;
    padding-left: 700px;
    overflow-y: hidden; 
}
#object6{
    height: 250px;
    width: auto;
    padding-left: 200px;
    overflow-y: hidden;
    
}
#object7{
    position:absolute;
    height: 250px;
    width: auto;
    right:550px;
    top: 700px;
    
    
}

#object8{
    position:absolute;
    height: 250px;
    width: auto;
    right: 200px;
    top: 250px;
    
    
}

#object9{
    position:absolute;
    height: 250px;
    width: auto;
    right: 1000px;
    top: 600px;

}
#object10{
    position:absolute;
    height: 200px;
    width: auto;
    right: 200px;
    top: 1050px;

}
#object11{
    position:absolute;
    height: 250px;
    width: auto;
    right: 1400px;
    top: 1025px;

}
#object12{
    position:absolute;
    height: 400px;
    width: auto;
    right: 300px;
    top: 325px;

}
#object13{
    position:absolute;
    height: 300px;
    width: auto;
    right: 1425px;
    top: 300px;
    cursor: pointer;

}
#object14{
    position:absolute;
    height: 300px;
    width: auto;
    right: 850px;
    top: 300px;
    cursor: pointer;

}
#object15{
    position:absolute;
    height: 250px;
    width: auto;
    right: 150px;
    top: 250px;
    
    
}





#list1{
    font-size:x-large;
    color: white;
    list-style-type: circle;
    line-height: 30px;
    width: 500px;
    padding-left: 200px;
    margin-top: 20px;
    overflow-y:auto;
}


ul {
    list-style-type:none;
    margin: 0;
    margin-top: 155px;
    padding: 0;
    width: 125px;
    position:absolute;
    height: 100%;
    overflow:hidden;
  }
  
  li a {
    display:block;
    color: rgb(255, 255, 255);
    padding: 8px 4px;
    text-decoration: none;
    
  }
  
  li a.active {
    background-color: #767676;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
    color: white;
  }

#right{
    float:right;
    width: auto;  
height: 155px;  
}
#left{
    float:left;
    width: 125px;  
height: 155px;  
}
