*{
    padding:0;
    margin: 0;
}
body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
}
.topHeader{
    background-image:url(gray.jpg);
    margin-top: 0;
    padding: 59px;
    text-align: center;
    background-size:cover;
    background-repeat: no-repeat;
    
}
.spacing{
    padding-top: 100px;
    padding-left: 175px;
}
.spaceParagraph{
    padding-top: 15px;
    padding-left: 175px;
    font-size:x-large;
}
h1,h2,p{
    color:white;
    padding-left: 175px;
}
#object{
    height: 250px;
    width: 250px;
    float: right;
    margin: 50px;
    
}
#object2{
    padding-left: 125px;
    height: 250px;
    width: 250px;
    margin: 50px;
    float: left;
    
}


ul {
    list-style-type:none;
    margin: 0;
    margin-top: 155px;
    padding: 0;
    width: 125px;
    position:absolute;
    height: 100%;
    overflow:hidden;
  }
  
  li a {
    display:block;
    color: rgb(255, 255, 255);
    padding: 8px 4px;
    text-decoration: none;
    
  }
  
  li a.active {
    background-color: #767676;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
    color: white;
  }

#right{
    float:right;
    width: auto;  
height: 155px;  
}
#left{
    float:left;
    width: 125px;  
height: 155px;  
}
